@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    function loginWithGoogle() {
        console.log('Login button clicked')
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="loginWithGoogle();">Login</button>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
